logging:
  config: classpath:logback.xml

server:
  port: 8000

spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/team2
    driver-class-name: org.mariadb.jdbc.Driver
    username: tomcat
    password: 123qwe!@#QWE
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true


